/* Apply styling to the <body> element */
body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

/* apply styling to elements with id="title" */
#title {
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 5vh;
}

a {
    color: green;
}

#content {
    min-height: 90vh;
}

/* Apply styling to the first element inside of all elements with id="content" */
#content > :first-child {
    padding-top: 5vh;
}

/* Applyu styling to all elements with class="code" */
.code {
    color: green;
}

#footer {
    position: bottom;
    justify-content: center;
    text-align: center;
    height: 5vh;
}