/* Apply styling to the <body> element */
body {
    background-color: #090619; /* This a hex code for the background colour of the page */
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#content {text-align: center;}

/* apply styling to elements with id="title" */
#title {
    width: 100%;
    justify-content: center;
    text-align: center;
}

#data-table {
    text-align: left;
    margin: auto;
    width: 50vw;
}

#data-table tbody {
    overflow-y: auto;
}

#data-table td {
    padding: 5px;
}

#data-table thead {
    height: 5vh;
}

#data-table tr:nth-child(even) { 
    background-color: white;
}

a {
    color: green;
}

/* Apply styling to all elements with class="code" */
.code {
    color: green;
}