<html>
  <!-- Set configuration for the page and load the files we need in here -->
  <head>
    <!-- Page title shown in the tab bar -->
    <title>Code Club Data Collector</title>

    <!-- icon shown in the tab bar  -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />

    <!-- Include the styling for the page -->
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <!-- Page content goes here -->
  <body>
    <div id="title">
      <h1>Welcome to the code club data Collector.</h1>
      <p>You can view the source code <a href="https://github.com/Bilco-Industries/CodeClubCollector">here</a></p>
      <p>Type your name here to see your data <input id="search-text" type="text"><button id="search-button">GO!</button></p>
    </div>
    <div id="content">
      {% if records %}
        <!-- If we have loaded data, put it into a table here -->
        <table id="data-table">
          <thead>
            <th>Timestamp</th>
            <th>Lux</th>
            <th>Pressure</th>
            <th>Temperature</th>
            <th>Humidity</th>
          </thead>
          <tbody>
            {% for record in records %}
              <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <p>No data found, enter your name above to see your data</p>
      {% endif %}
    </div>
  </body>
  <!-- include the javascript that runs the page -->
  <script src="/static/index.js" charset="utf-8"></script>
</html>